.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  background:whitesmoke;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 20px;
  font-weight: 400;
  background: transparent;
  border: 1px solid black;
  border-radius: 10px;
  color: burlywood;
  padding: 10px;
  cursor: pointer;
  transform-origin: center bottom;
  transition: all .1s ease-in;
}

button:hover {
  transform: scaley(1.05);
}

button:active {
  font-weight: 600;
  transform: scalex(1.1) scaley(.98);
}